@charset "utf-8";
*{
  margin:0px;
  padding:0px;
  text-decoration:none;
  box-sizing:border-box;
  font-size:.14rem;
  font-style:normal;
  font-weight:normal;
}
ul,li{
  list-style:none;
}
html{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    font-size:625%;
}
img,div,body,html,ul,li,a{
 -webkit-touch-callout: none; 
 }
 input,button{
 outline:0;

 }
 button{
 cursor:pointer;
 }
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
    color: #ccc;}
body{
	font-size:.32rem;
}
html,
body,
.wrap{
	width:100%;
	height:100%;
}
.wrap{
	display:flex;
	flex-direction:column;
	overflow:hidden;
}
.header{
  height:1rem;
  line-height:1rem;
  display:flex;
  background:#393A3F;
  a{
    color:#fff;
    &:nth-child(1),&:nth-child(3){
      flex:1;
      text-align:center;
      i.icon{
        color:#fff;
        font-size:.4rem;

      }
    }
    &:nth-child(3){
      i.icon{
        transform: rotate(-90deg);
      }
    }
    &:nth-child(2){
      flex:8;
      text-align:left;
      padding-left:.2rem;
      color:#fff;
      font-size:.36rem;
      font-family:微软雅黑;
      border-left:1px solid #2A2B30;
    }
  }
}
.main{
  flex:1;
  background:#818D9B;
  overflow-y:scroll;

}
.froms {
  width:92%;
  height:auto;
  background:#FFFFFF;
  border-radius:6px;
  margin:1.5rem .3rem;
 padding-bottom:1.66rem;
  .logo{
    padding-top:.67rem;
    width:2.76rem;
    height:auto;
    margin:0 auto;
    img{
      width:100%;
      height:1.03rem;
    }
  }
  h2{
    width:100%;
    height:.8rem;
    line-height:.8rem;
    text-align: center;
    color:#919499;
    font-size:.34rem;
  }
  .adds{
    margin-top:.67rem;
    padding:0 .54rem;
    p{
      height:.85rem;
      border-bottom:1px solid #838987;
      margin-bottom:.4rem;
      position:relative;
         span{
        width:.4rem;
        height:.5rem;
        position:absolute;
        left:.2rem;
        top:.1rem;
      }
      &:nth-child(1){
        span{
          background:url("../img/icon_01.png") no-repeat;
          background-size:100% 100%;
        }
      }
      &:nth-child(2){
        span{
          background:url("../img/icon_03.png") no-repeat;
          background-size:100% 100%;
        }
      }
      &:nth-child(3){
        border:none;
        button{
          width:100%;
          height:.73rem;
          line-height: .73rem;
          background:#2FBA77;
          border-radius:6px;
          color:#fff;
          font-size:.28rem;
          text-align:center;
          border:none;
        }
      }
   
      input{
        margin-left:.8rem;
        height:.8rem;
        width:90%;
        border:none;
        font-size:.3rem;
      }
    }

  }
}